.app {
  padding: 10px;
}

form {
  width: 50%;
}

.form-input {
  margin: 10px 0px;
}

.form-input input,
.form-input textarea {
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  border: solid 1px lightgray;
  padding: .375rem .75rem;
  outline: none;

}

button {
  background-color: #007bff;
  color: #fff;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  cursor: pointer;
  outline: none;
}

.blog-post__display {
  border: solid 1px lightgray;
  margin: 5px 0px;
  border-radius: 4px;
  padding: 10px;
}